.inner {
  background-image: radial-gradient(ellipse at center, #713f16 1%, #351e0a 50%, black 100%);
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  padding: 0;
  margin: 0;
  position: relative;
  display: flex;
  flex-direction: column;

  .main-container {
    flex-grow: 11;
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 1;

    .background-image {
      background-image: url(../assets/images/coffee-background.jpg);
      background-size: cover;
      width: 100%;
      height: 100%;
      position: absolute;
      filter: blur(10px);
      z-index: -1;
      transform: rotateY(180deg);

      &::after {
        display: block;
        position: relative;
        background-image: linear-gradient(180deg, rgba(28, 15, 4, 0.09) 0, #1e1106 95%);
        height: 100%;
        width: 100%;
        content: "";
      }
    }

     > div {
       display: flex;
       flex-grow: 1;
       justify-content: center;
       align-items: center;
     }
  }

  .menu {
    height: 60px;
    min-height: 60px;
    max-height: 60px;
    text-align: center;
    display: flex;
    justify-content: flex-end;
    border-top: 1px solid rgba(255,255,255,0.1);

    svg {
      color: rgba(255, 255, 255, 0.5);
      font-size: 1.3rem;
      margin: 20px 1rem;
      cursor: pointer;

      &:hover {
        color: rgba(1, 208, 202, 0.9);
      }
    }
  }
}
