.coffee-display {
  display: flex;
  flex-wrap: wrap;
  overflow-y: scroll;
  width: 100%;
  justify-content: center;
}

.single-coffee-container {
   padding: 20px;
   margin-bottom: 20px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;

   .coffee-box {
     border: 1px solid rgba(255,255,255, 0.1);
     padding: 20px;
     max-height: 150px;
     width: 150px;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     border-radius: 10px;
     border-color: rgba(255,255,255, 0.1);
     cursor: pointer;
     background: rgba(255, 255, 255, 0.1);
     box-shadow: 0 2px 8px rgba(0,0,0,0.5), /* Exterior Shadow */
       inset 0 1px rgba(255,255,255,0.1), /* Top light Line */
       inset 0 10px rgba(255,255,255,0), /* Top Light Shadow */
       inset 0 10px 20px rgba(255,255,255,0.1), /* Sides Light Shadow */
       inset 0 -15px 30px rgba(0,0,0,0.2);

     &:hover {
       background: rgba(255, 255, 255, 0.1);
       border-color: rgba(255,255,255, 0);
     }

     img {
       width: 80px;
       height: 60px;
     }

     .coffee-title {
       font-family: 'Lobster';
       color: #fff;
       font-size: 2rem;
       margin: 10px;
       letter-spacing: 1px;
     }
   }

   .customize-btn {
     font-family: 'Open Sans';
     width: 100%;
     padding: 10px;
     text-align: center;
     background: #0E9964;
     color: #fff;
     font-size: 1rem;
     text-transform: uppercase;
     cursor: pointer;

     &:hover {
       background: #E8CC89;
     }

     &.small {
       margin-top: 20px;
       border-radius: 50px;
       width: 75px;
       height: 20px;
     }
   }
}
