.single-coffee-container {
   padding: 20px;
   margin-bottom: 20px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;

   .coffee-box {
     //border: 1px solid rgba(255,255,255, 0.1);
     padding: 20px;
     max-height: 150px;
     width: 150px;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     //border-radius: 10px;
     //border-color: rgba(255,255,255, 0.1);
     cursor: pointer;
     background: rgba(255, 255, 255, 0.2);

     &:hover {
       background: rgba(255, 255, 255, 0.1);
       border-color: rgba(255,255,255, 0);
     }

     img {
       width: 80px;
       height: 60px;
       margin: 20px auto 0px;
     }

     .coffee-title {
       font-family: 'Source Sans Pro';
       color: #fff;
       font-size: 1.5rem;
       //letter-spacing: 1px;
     }
   }

   .customize-btn {
     font-family: 'Open Sans';
     width: 100%;
     padding: 10px;
     text-align: right;
     //background: #0E9964;
     //border-top: 1px solid rgba(255, 255, 255, 0.2);
     background: rgba(255, 255, 255, 0.2);
     color: rgba(255, 255, 255, 0.5);
     font-size: 0.8rem;
     text-transform: uppercase;
     text-decoration: none;
     cursor: pointer;
     display: flex;
     align-items: center;
     justify-content: flex-end;

     &:hover {
       background: rgba(255, 255, 255, 0.2);
     }

     &.small {
       width: 100%;
       box-sizing: border-box;
     }

     svg {
       margin-left: 10px;
       font-size: 1rem;
       color: rgba(255, 255, 255, 0.5);
     }

     &.not-active {
       color: rgba(255, 255, 255, 0.1);
       svg {
         color: rgba(255, 255, 255, 0.1);
       }
     }


   }
}
